@font-face {
  font-family: "iconfont"; /* Project id 5196319 */
  src: url('iconfont.woff2?t=1782635567643') format('woff2'),
       url('iconfont.woff?t=1782635567643') format('woff'),
       url('iconfont.ttf?t=1782635567643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plt-danchuang-guanbi_Light:before {
  content: "\e68c";
}

.icon-plt-wechat:before {
  content: "\e64f";
}

.icon-plt-caishichang-:before {
  content: "\e62b";
}

.icon-plt-code:before {
  content: "\e84f";
}

.icon-plt-github-alt:before {
  content: "\e80c";
}

.icon-plt-kongjian_bold:before {
  content: "\e850";
}

.icon-plt-vv_Light:before {
  content: "\e751";
}

.icon-plt-rig_Light:before {
  content: "\e752";
}

