html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--plt-basic-color-text-normal);
    overflow: hidden;
    font-family: var(--plt-basic-font-family) !important;
    font-weight: var(--plt-basic-font-weight-normal);
    font-size: var(--plt-basic-font-size-common);
}

div,
ul,
li,
ol,
p,
span {
    box-sizing: border-box;
}

ul,
li,
ol,
p {
    list-style: none;
}

a {
    text-decoration: none;
}
